version: "3"

services:
  nodeosd:
    image: crytokylin/eosmainnet:1.2.2
    command: /opt/eosio/bin/nodeos --data-dir=/data --config-dir=/etc/nodeos
    hostname: nodeosd
    ports:
      - 8890:8888
      - 9878:9876
    expose:
      - "8888"
    volumes:
      - /data/eos/nodeos-data-volume/nodeos-data-kylin/config:/etc/nodeos
      - /data/eos/nodeos-data-volume/nodeos-data-kylin/data:/data
